# Dependencias
frontend/node_modules/
backend/node_modules/
backend/.wwebjs_auth/
backend/.wwebjs_cache/
backend/node_modules/

# Variables de entorno
frontend/.env
backend/.env


# Carpetas
.vscode/
frontend/dist


frontend/package-lock.json
backend/package-lock.json



# Archivos del sistema
.DS_Store
